.profile {
margin: 0 auto;
width: 260px;
margin-top: 20px;
text-align: center;
border-radius: 0px 0px 4px 4px;
background: var(--white, rgb(215, 196, 196));
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

 .avatar {
    width: 260px;
    height: 264px;
 }

/* .descrption {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, rgb(154, 145, 145));
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} */

.name {
    color: #061a4d;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.tag {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;

    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.location {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}

.stats {
    display: flex;
padding: 10px;
color: #061a4d;
background-color: rgba(255,255,255,0.5);
list-style: none;
		justify-content: space-evenly;
}

.label {
    display: flex;
			align-items: center;
			flex-direction: column;
}